@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
    from {
        background-color: rgba(233, 123, 43, 1);
    }
    to {
        background-color: rgba(233, 123, 43, 0);
    }
}

.enter-highlight {
    animation: highlight 300ms linear forwards;
}