@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
    from {
        background-color: #f97316ff;
    }
    to {
        background-color: #f9731600;
    }
}

.enter-highlight {
    animation: highlight 300ms linear forwards;
}